@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOGNEW/BOG-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-UltraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BOG";
  src: url("https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans-value: "BOG", "Noto Sans Georgian", Arial, sans-serif;
  --font-heading-value: "BOG", "Noto Sans Georgian", Arial, sans-serif;
  --font-mono-value: "BOG", "Noto Sans Georgian", Arial, sans-serif;
}
